@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
    align-items: center;
    height: 100vh
}

h1{
    font-size: 55px;
    text-align: center;
    color: #fff;
} 

p{
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.swagger-button:hover {
    background-color: #a49c9c;
}

body.home {
    padding-top: 10vh;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    margin: 0;
    height: 100vh;
}

.nameArea {
    font-size: 4rem;
    margin: 0;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    color: #fff;
}

.introParagraph {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.Link-button {
    background: #4CAF50;
    color: white;
    border: none;
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    line-height: 3rem;
    display: inline-block;
}

.Link-button:hover {
    background: #45a049;
}

.api-form {
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 10px #000, 0 0 20px #333;
    width: 80%;
    max-width: 600px;
    text-align: left;
    color: white;
}

.api-form label {
    font-size: 1rem;
    display: block;
    margin-bottom: 0.5rem;
}

.api-form input, .api-form button {
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.api-form input {
    background: #222;
    color: white;
}

.api-form input:focus {
    outline: none;
    border: 1px solid #4CAF50;
}

.api-form button {
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.api-form button:hover {
    background: #45a049;
}

.result-box {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
    background-color: #222;
    box-shadow: 0 0 5px #000, 0 0 10px #333;
    color: white;
    font-family: monospace;
    text-align: left;
    width: 80%;
    max-width: 600px;
    overflow-wrap: break-word;
}

.api-container {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

#balance-button {
    background: #4CAF50;
    color: white;
    border: none;
    width: 7.5rem;
    height: 2rem;
    font-size: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
}

.endpoint {
    margin-right: 10%;
}

#key-section {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
    margin-right: 10%;
}

#key-button {
    background: #4CAF50;
    color: white;
    border: none;
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    /* line-height: 3rem; */
    display: inline-block;
}

#key-result{
    margin-right: 30%;
    margin: 0.2rem auto;
    padding: 1rem;
    border-radius: 5px;
    background-color: #222;
    box-shadow: 0 0 5px #000, 0 0 10px #333;
    color: white;
    font-family: monospace;
    text-align: left;
    width: 80%;
    max-width: 600px;
    overflow-wrap: break-word;
}